@{
    ViewData["Title"] = "Home Page";
}

  <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">E-Tİcaret sİtesİ</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/portfoy/eticaret.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Engin Demiroğun kampına katılarak geliştirdiğim e-ticaret sitesi, ürün ve hizmetlerin online olarak satışını mümkün kılar.
Müşteriler, e-ticaret sitesi üzerinden güvenli bir şekilde ürünleri seçip satın alabilir ve ödeme işlemlerini gerçekleştirebilirler.
Engin Demiroğun kampı sayesinde, e-ticaret geliştirme konusunda önemli beceriler kazandım ve başarılı bir online işletme oluşturdum.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Kapat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Öğrencİ otomasyonu</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/portfoy/ogrotomas.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">DevExpress ile geliştirdiğim öğrenci otomasyonu projesi, öğrenci bilgilerini kaydederek yönetim işlemlerini kolaylaştırır.
Proje, kullanıcı dostu arayüzü ve zengin özellikleriyle öğrenci bilgilerinin güncellenmesi, sınıf seçimi, ders programı hazırlama ve raporlama gibi işlemleri kolaylaştırır.
C# programlama dili ile geliştirilen öğrenci otomasyonu projesi, öğretmenlerin ve yöneticilerin işlerini hızlandırır ve okul yönetimini daha verimli hale getirir.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Kapat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">chargeall mobİl uygulaması</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/portfoy/chargeall.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Android Studio ve Java programlama dili ile geliştirdiğim ChargeAll mobil uygulaması, kullanıcıların yakınlarındaki şarj istasyonlarını bulmalarına yardımcı olan bir uygulamadır.
Uygulama, kullanıcılara şarj istasyonlarının lokasyon bilgilerini ve doluluk durumlarını gerçek zamanlı olarak sunar.
ChargeAll mobil uygulaması, kullanıcıların şarj ihtiyaçlarını daha kolay bir şekilde karşılamalarına ve çevresel fayda sağlamalarına yardımcı olur.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Kapat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Sürücü Kursu otomasyonu</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/portfoy/skotom.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Sürücü kursu otomasyonu, sürücü kurslarının günlük işlemlerini ve öğrenci bilgilerini takip etmelerine yardımcı olan bir yazılımdır.
Bu yazılım sayesinde sürücü kursları, öğrenci kayıt işlemleri, sınav tarihleri, ödemeler ve sınıf programları gibi konuları kolayca yönetebilirler.
Sürücü kursu otomasyonu, işletmelerin verimliliğini artırarak müşteri memnuniyetini yükseltir ve iş süreçlerini daha verimli hale getirir.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Kapat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Gazi Üniversitesi Giriş Mobil Uygulaması</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/portfoy/gazi.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Gazi Üniversitesi Giriş Mobil Uygulaması'nın tasarımı için Android Studio ve Java programlama dili kullanıldı.
Şu an için sadece giriş kısmının tasarımı yapılmış olan uygulama, ilerleyen süreçte diğer bölümler de eklenerek geliştirilebilir.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Kapat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        <!-- CV Modal-->
        </div>
           <div class="portfolio-modal modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">CV</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/cv.png" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Kapat
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>